.projects {

    display: flex;
    flex-direction: column;

    &__image {
        cursor: pointer;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}