.projects {
    display: flex;
    flex-direction: column;

    &__heading {
        text-align: center;
        margin-bottom: 80px;
        letter-spacing: 10px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

   &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

    &__image {
        width: 400px;
        cursor: pointer;
    }

}