.projects {
    display: flex;
    flex-direction: column;

    &__heading {
        text-align: center;
        margin-bottom: 80px;
        letter-spacing: 10px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: block;
        width: 300px;
    }

   &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

    &__image {
        width: 300px;
        cursor: pointer;
        border-radius: 25px;
    }

}