.projects {  
    @include laptop {
        margin: 20px 0;
    }
    
    &__heading {
        text-align: center;
        margin: 80px 0;
        letter-spacing: 10px;

        @include laptop {
            margin: 40px 0;
        }
    }

    &__list {
        @include flex-center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__item {
        width: 480px;
        border-radius: 25px;
        overflow: hidden;
        cursor: pointer;
        background: rgba(var(--color-white-rgb), 0.2);
        box-shadow: 0 0 10px rgba(var(--color-white-rgb), 0.7), 
                0 0 20px rgba(var(--color-white-rgb), 0.5),
                inset 0 0 150px rgba(var(--color-black-rgb), 1);
        transition: transform 0.5s ease;
    }

    &__item:hover {
         transform: translateY(-20px);

         @include mobile-portrait {
            transform: translateY(0);
        }
    }


   &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
   }



    &__title {
        letter-spacing: 6px;
        background-image: linear-gradient(
            to right, var(--color-white), var(--color-grey-toxic)
         );
         background-clip: text;
         color: transparent;
         display: inline-block;
    }

    &__description {
        @include text-base;
        margin-top: 10px;
    }


}