.skills {

    &__heading {
        text-align: center;
        margin: 80px 0;
        letter-spacing: 10px;

        @include mobile {
            margin: 30px 0;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: stretch;
        flex-wrap: wrap;
    }

    &__item {
        @include flex-center;
        flex-direction: column; 
        width: 450px;
        padding: 50px;
        
        border-radius: 25px;
        background: rgba(var(--color-white-rgb), 0.5);
        box-shadow: 0 0 20px rgba(var(--color-white-rgb), 0.7), 
                    0 0 20px rgba(var(--color-white-rgb), 0.5),
                    inset 0 0 150px rgba(var(--color-black-rgb), 1);
        border: 1px solid rgba(var(--color-black-rgb), 0.8);
        overflow: hidden;

        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

    &__title {
        display: block;
        text-align: center;
        margin: 20px 0;
        letter-spacing: 6px;
         background-image: linear-gradient(
            to right, var(--color-white), var(--color-grey-toxic)
         );
         background-clip: text;
         color: transparent;
    }


    &__item:hover {
        transform: translateY(-15px);
        box-shadow: 0 0 40px rgba(var(--color-white-rgb), 0.5);
    }
    

    &__item-inner {
        position: relative;
        color: var(--color-black);
        text-align: center;
        font-weight: var(--font-weight-bold);
        cursor: pointer;

        text-transform: var(--text-uppercase-uppercase);
        @include text-base;
        letter-spacing: 3px;
    }

    &__item-inner::before {
        position: absolute;
        right: 10px;
        bottom: -10px;
        left: 10px;
        height: 2px;
        background-color: var(--color-black);
        content: '';
    }

    &__item-inner:not(:last-child) {
        margin-bottom: 20px;
    }

    &__svg {

        width: 40px;
        height: 40px;
        margin-top: 10px;
        background-color: var(--color-black);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        transition: background-color 0.3s ease;
    }

    &__item:hover &__svg {
        transform: rotate(360deg);
        background-color: var(--color-grey-toxic); 
        transition: transform 0.5s ease;
    }

    &__item:hover &__item-inner::before {
        background-color: var(--color-grey-toxic); 
    }

    &__svg-html {
        mask-image: url('/icons/html.svg');
        -webkit-mask-image: url('/icons/html.svg');
    }

    &__svg-brackets {
        mask-image: url('/icons/brackets.svg');
        -webkit-mask-image: url('/icons/brackets.svg');
    }

    &__svg-setting {
        mask-image: url('/icons/setting.svg');
        -webkit-mask-image: url('/icons/setting.svg');
    }
}