.skills {

    &__heading {
        text-align: center;
        margin: 80px 0;
        letter-spacing: 10px;

        @include mobile-portrait {
            margin: 30px 0;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: stretch;
        flex-wrap: wrap;
        margin-bottom: 20px
    }


    &__item {
        @include flex-center;
        flex-direction: column; 
        width: 450px;
        padding: 50px;
        
        border-radius: 25px;
        @include neon-shadow;
        background: rgba(var(--color-rgb-1), 0.5);
        border: 1px solid rgba(var(--color-border-2), 0.8);
        overflow: hidden;

        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;

        @include laptop {
            width: 300px;
            padding: 10px;
        }

        @include mobile-portrait {
            width: 250px;
            padding: 10px;
        }
    }

    &__title {
        display: block;
        text-align: center;
        margin: 20px 0;
        letter-spacing: 6px;
        @include gradient-text;
    }


    &__item:hover {
        transform: translateY(-15px);
        box-shadow: 0 0 40px rgba(var(--color-rgb-1), 0.5);
    }
    

    &__item-inner {
        position: relative;
        color: #181818;
        text-align: center;
        font-weight: var(--font-weight-bold);
        cursor: pointer;
        padding-bottom: 20px;

        text-transform: var(--text-uppercase-uppercase);
        @include text-base;
        letter-spacing: 3px;

        @include mobile-portrait {
            @include text-sm;
        }
    }

    &__item-inner::before {
        position: absolute;
        right: 10px;
        bottom: 10px;
        left: 10px;
        height: 2px;
        background-color: var(--color-icon);
        content: '';
    }

    &__svg {

        width: 40px;
        height: 40px;
        background-color: var(--color-icon);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        transition: background-color 0.3s ease;

        @include mobile-portrait {
            width: 30px;
            height: 30px;
        }
    }

    &__item:hover &__svg {
        transform: rotate(360deg);
        background-color: var(--color-accent-gradient); 
        transition: transform 0.5s ease;
    }

    &__item:hover &__item-inner::before {
        background-color: var(--color-accent-gradient); 
    }

    &__svg-html {
        mask-image: url('/icons/html.svg');
        -webkit-mask-image: url('/icons/html.svg');
    }

    &__svg-brackets {
        mask-image: url('/icons/brackets.svg');
        -webkit-mask-image: url('/icons/brackets.svg');
    }

    &__svg-setting {
        mask-image: url('/icons/setting.svg');
        -webkit-mask-image: url('/icons/setting.svg');
    }
}

