.social {
    display: flex;
    justify-content: center;
    &__list {
        display: flex;
        gap: 10px;

        @include mobile-portrait {
            margin-top: 20px;
        }
    }

    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;              
        align-items: center;        
        justify-content: center; 
        gap: 10px;
        background-color: var(--color-bg-surface);
        border: 2px solid var(--color-border-1);
        transition: transform 0.5s ease;
        @include neon-border-shadow;

        @include mobile-portrait {
            width: 36px;
            height: 36px;
        }
    }

    &__link:hover {
        transform: translateY(-10px);
    }

    &__phone-svg {
        mask-image: url('/icons/phone.svg');
        -webkit-mask-image: url('/icons/phone.svg');
    }

    &__github-svg {
        mask-image: url('/icons/github.svg');
        -webkit-mask-image: url('/icons/github.svg');
    }

    &__vk-svg {
        mask-image: url('/icons/vk.svg');
        -webkit-mask-image: url('/icons/vk.svg');
    }

    &__telegram-svg {
        mask-image: url('/icons/telegram.svg');
        -webkit-mask-image: url('/icons/telegram.svg');
    }
}

