@use '../../scss/mixins' as *;

.home {
    display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     margin: 100px 0;
     padding: 50px;
     

     &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 550px;
        // background-color: red;
     }

     &__description {
        margin: 30px 0;
        justify-content: center;
        // line-height: 20px;
        font-size: 30px;
     }

    //  &__actions {
    //     margin-top: auto;
    //  }

     &__button--download {
        margin-right: 20px;
     }

     .button {
        padding: 10px 30px;
        border-radius: 25px;
     }

     &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 60px 10px rgba(205,83,34, 10);
     }

     &__image{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        max-width: 100%;
        object-fit: cover;
     }
}
