@use '../../scss/mixins' as *;

.home {
   @include flex-row;
   align-items: center;
   min-height: auto;
   flex-wrap: wrap;
   padding: 50px 20px;
     

     &__content {
        @include flex-column-between;
        max-width: 800px;
        flex: 1;
     }

     &__greeting {
         text-transform: var(--text-uppercase-uppercase);
         font-weight: var(--font-weight-normal);
         letter-spacing: 14px; 
         font-weight: var(--font-weight-bold);
         background-image: linear-gradient(
            to right, var(--color-white), var(--color-grey-toxic)
         );
         background-clip: text;
         color: transparent;

         @include text-xl;

      }

      &__text {  
         margin-top: 10px;
         letter-spacing: 3px; 
         @include text-lg;        
      }

     &__heading {
         margin: 20px 0;
         letter-spacing: 6px;
         background-image: linear-gradient(
            to right, var(--color-white), var(--color-grey-toxic)
         );
         background-clip: text;
         color: transparent; 
     }

     &__description {
        line-height: 50px;
        letter-spacing: 3px; 
        @include text-lg;        
     }

     &__actions {
         margin-top: 50px;
     }

     &__button--download {
        margin-right: 20px;
     }

     &__inner {
         margin-left: auto;
     }

     &__image{
        width: 480px;
        height: 700px;
        flex-shrink: 0;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);
     }
}
