.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        position: relative;
        width: 500px;
        height: 700px;
        border-radius: 8px;
        background: var(--color-black); 
        overflow: hidden;

        @include desktop {
            margin-top: 20px;
            width: 300px;
            height: 500px;
        }        
    }

    &__container::before {
        content: '';
        position: absolute;
        inset: -2px;
        top: -50%;
        left: -50%;
        width: 500px;
        height: 700px; 
        background: linear-gradient(0deg, transparent, transparent, var(--color-grey-toxic), var(--color-grey-toxic), var(--color-grey-toxic));
        z-index: 0;
        transform-origin: bottom right;
        animation: animate 4s linear infinite;
    }

    &__container::after {
        content: '';
        position: absolute;
        inset: -2px;
        top: -50%;
        left: -50%;
        width: 400px;
        height: 600px; 
        background: linear-gradient(0deg, transparent, transparent, var(--color-grey-toxic), var(--color-grey-toxic), var(--color-grey-toxic));
        z-index: 0;
        transform-origin: bottom right;
        animation: animate 4s linear infinite;
        animation-delay: -2s;
    }

    @keyframes animate
    {
        0%
        {
            transform: rotate(0deg);
        }
        100%
        {
            transform: rotate(360deg);
        }
    }

    &__form {
        position: absolute;
        inset: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        gap: 20px;
        border-radius: 5px;
        background: #222222;
        z-index: 1;

        @include desktop {
            gap: 10px;
        }
        
    }

    
    &__description {
        @include text-base;
        text-align: center;
        letter-spacing: 3px;
        color: var(--color-grey-toxic);
        margin-top: 20px;
    }

    &__container-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
    }

    &__container-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease;
    }

    &__label {
        letter-spacing: 6px;
        @include text-base;
        background-image: linear-gradient(
        to right, var(--color-white), var(--color-grey-toxic)
        );
        background-clip: text;
        color: transparent;
        margin-left: 10px;
        min-width: 80px;
        align-self: start;
    }

    &__input {
        width: 100%;
        padding: 10px 10px;
        outline: none;
        border-radius: 8px;
        border: none;
        @include text-sm;
        transition: 0.8s;
        background-color: #eceedf;

        &:focus {
            outline: 2px solid var(--color-grey-toxic);
        }

        @include mobile {
            padding: 5px 10px;
        }
        
    }

    &__message {
        flex: 1;
        padding: 8px 12px;
        border-radius: 8px;
        border: none;
        @include text-sm;
        resize: vertical;
        min-height: 150px;   
        background-color: #eceedf;
        transition: 0.8s;
        
        &:focus {
            outline: 2px solid var(--color-grey-toxic);
        }

        @include mobile {
            min-height: 100px;
        }
    }

    &__button {
        display: flex;
        align-self: flex-end;
    }

    &__close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        border-radius: 10px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

     &__close-button::before {
        content: '';
        width: 20px;
        height: 20px;
        background-image: linear-gradient(
            to right, var(--color-white), var(--color-grey-toxic)
         );
        mask: url('/icons/close.svg') no-repeat center/contain;
        -webkit-mask: url('/icons/close.svg') no-repeat center/contain;
    } 



}