.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: auto;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 500px;

        border-radius: 25px;
                    
        overflow: hidden;
        
    }

    &__container::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 500px;
         
        background: linear-gradient(0deg, transparent, transparent, var(--color-grey-toxic), var(--color-grey-toxic), var(--color-grey-toxic));
        z-index: 1;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }

    @keyframes animate
    {
        0%
        {
            transform: rotate(0deg);
        }
        100%
        {
            transform: rotate(360deg);
        }
    }

    &__heading {
        text-align: center;
        color: white;
        margin: 0;
        letter-spacing: 5px;
        color: var(--color-grey-toxic);
    }

    &__description {
        text-align: center;
        margin: 0;
        letter-spacing: 3px;
        color: var(--color-grey-toxic);
    }

    &__form {
        inset: 10px;
        background: aliceblue;
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 2;
        padding: 20px;
        gap: 20px;
        background: rgba(var(--color-white-rgb), 0.6);
        box-shadow: 0 0 20px rgba(var(--color-white-rgb), 0.7), 
                    0 0 20px rgba(var(--color-white-rgb), 0.5),
                    inset 0 0 150px rgba(var(--color-black-rgb), 1);
    }

    &__container-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
    }

    &__label {
        color: var(--color-grey-toxic);
        min-width: 80px;
        align-self: start;
    }

    &__input {
        width: 100%;
        padding: 10px;
        outline: none;
        border-radius: 8px;
        border: none;
        font-size: 16px;
        transition: 0.5s;
        
        &:focus {
            outline: 2px solid var(--color-grey-toxic);
        }
    }

    &__message {
        flex: 1;
        padding: 8px 12px;
        border-radius: 8px;
        border: none;
        font-size: 16px;
        resize: vertical;
        min-height: 200px;
        
        &:focus {
            outline: 2px solid var(--color-grey-toxic);
        }
    }

    &__button {
        width: 200px;
        padding: 10px 20px;
    }



}