
.header{

    width: 100%;
    background-color: var(--color-black);
    z-index: 2;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__logo {
        width: 40px;
        height: 40px;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;

        @include mobile {
            justify-content: center;

        }
    }

    &__item {
        position: relative;
        transition: all 0.8s ease;
        cursor: pointer;
    }

    &__item:hover {
        background-color: var(--color-white);
    }

    &__item:hover &__link {
        color: var(--color-black);   
    }

    &__link {
        display: block;
        text-transform: var(--text-uppercase-uppercase);
        font-weight: var(--font-weight-normal);
        padding: 30px;
        letter-spacing: 6px;
        @include text-base;

        @include mobile {
            padding: 10px 20px;
        }
    }

    &__link--active::before {
        position: absolute;
        right: 20px;
        bottom: 0;
        left: 20px;
        height: 4px;
        background-color: var(--color-grey-toxic);
        content: '';
    }

    &__theme-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        flex-shrink:0;
    }
}


