.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__experience__heading {
        text-align: center;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        width: 600px;
        background-color: rgb(255, 0, 0);
    }
}