$mobile: 490px;
$laptop: 1024px;
$desktop: 1280px;
$ultrawide: 1600px;

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: $laptop) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin wide {
    @media (min-width: $wide) {
        @content;
    }
}

@mixin ultrawide {
    @media (min-width: $ultrawide) {
        @content;
    }
}