$mobile-portrait: 576px;   // вертикальные телефоны
$mobile-landscape: 900px;  // горизонтальные телефоны (все модели)
$tablet: 1024px;
$laptop: 1280px;
$wide: 1440px;       // широкие
$ultrawide: 1600px;  // ультраширокие

@mixin mobile-portrait {
    @media (max-width: $mobile-portrait) {
        @content;
    }
}

@mixin mobile-landscape {
    @media (max-width: $mobile-landscape) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: $laptop) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin wide {
    @media (min-width: $wide) {
        @content;
    }
}

@mixin ultrawide {
    @media (min-width: $ultrawide) {
        @content;
    }
}