/*
    Переиспользуемые блоки стилей
*/

@mixin flex-center { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


@mixin flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-between { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
} 

@mixin flex-column {
   display: flex; 
   flex-direction: column; 
}

@mixin flex-row {
   display: flex; 
   flex-direction: row; 
}


/*Размер Шрифта*/

//очень маленький
@mixin text-xs {
    font-size: clamp(calculate-rem(8px), 2vw, calculate-rem(14px));
}

//маленький
@mixin text-sm {
    font-size: clamp(calculate-rem(10px), 3vw, calculate-rem(18px));
}

//основной
@mixin text-base {
    font-size: clamp(calculate-rem(18px), 3vw, calculate-rem(22px));
}

//большой
@mixin text-lg {
    font-size: clamp(calculate-rem(22px), 4vw, calculate-rem(30px));
}

//очень большой
@mixin text-xl {
    font-size: clamp(calculate-rem(25px), 5vw, calculate-rem(36px));
}

// в 2 раза больше
@mixin text-2xl {
    font-size: clamp(calculate-rem(30px), 5vw, calculate-rem(48px));
}