/*
    Селектор :root ссылается на корневой элемент документа (<html>). 
    Переменные, объявленные здесь, доступны глобально во всем проекте.
    :root CSS селектор — указывает на <html> 
*/


:root {
    --font-family-base: 'Manrope', sans-serif;
    --font-family-baseA: 'Josefin Sans', sans-serif;
    --font-family-baseB: 'PlayfairDisplay', sans-serif;
    --font-family-baseC: 'Orbitron', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --text-uppercase-uppercase: uppercase;
}


:root[data-theme="dark"] {

    --color-basic: #FFFFFF;
    --color-basic-2: #181818;

    --color-border-1: #FFFFFF;
    --color-border-2: #181818;

    --color-bg-element: #181818;
    
    --color-bg-input: #eceedf;
    --color-bg-body: #222629;

    --color-icon: #181818;
    --color-bg-surface: #181818;

    --color-accent-gradient: #d1ff05;
    --color-accent-base: #ffffff;

    --color-granules: #ffffff;

    --color-rgb-1:  255, 255, 255;
    --color-rgb-2: 28,28,28;
}


:root[data-theme="light"] {
    --color-basic: #181818;
    --color-basic-2: #FFFFFF;

    --color-border-1: #dfb21d;
    --color-border-2: #FFFFFF;

    --color-bg-element: #7c6e65;
    --color-bg-body: #F4EFE6;
    
    --color-bg-input: #eeeeee;

    --color-icon: #181818;
    --color-bg-surface: #ffffff;

    --color-accent-gradient: #daaf23;
    --color-accent-base: #daaf23;

    --color-granules: #000000;

    --color-rgb-1:  255, 255, 255;
    --color-rgb-2: 28,28,28;
}