/*
    Селектор :root ссылается на корневой элемент документа (<html>). 
    Переменные, объявленные здесь, доступны глобально во всем проекте.
    :root CSS селектор — указывает на <html> 
*/

:root {
    --color-white:  #FFFFFF;
    --color-black:  #181818;
    --color-black-50:  #222629;
    --color-green: #6b6e70;
    --color-green-50: #f3f3ef;
    --color-grey-50: #a6e44f;
    --color-grey: #61892F;
    --color-orange-40: #ffd000;
    --color-orange-50: #f79236;
    --color-orange: #cd5322;
    --color-red: #7B001C;
    --color-violet: #6D28D9;
    --color-gold: #D4AF37;

    --font-family-base: 'Manrope', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --text-uppercase-uppercase: uppercase;
}
