*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    color: var(--color-white);
    background-color: var(--color-black-50);
    overflow: hidden;

    @include laptop {
       overflow: scroll; 
    }
}

.page__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    flex: 1;

    
}

h1,h2,h3 {
    font-weight: var(--font-weight-bold);
    text-transform: var(--text-uppercase-uppercase);
    color: var(--color-white);
    margin: 0;
    padding: 0;
}

h1 {
    @include text-2xl;
    color: var(--color-grey-toxic);
}

h2 {
    @include text-xl;
}

h3 {
    @include text-lg;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.skills__svg {
    width: 40px;
    height: 40px;
}

.button {
    // width: 200px;
    font-family: var(--font-family-base);
    text-transform: uppercase;
    letter-spacing: 2px;
    @include text-xs;
    border: 2px solid var(--color-white);
    border-radius: 30px;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-black);
    box-shadow: 0 0 20px var(--color-grey-toxic), inset 0 0 20px var(--color-grey-toxic);

    cursor: pointer;
    transition: all 0.3s ease;

    @include mobile-landscape {
        padding: 10px 20px;    
    }

    @include mobile-portrait {
        padding: 5px 20px;
    }
}

.button:hover {
    background: var(--color-grey-toxic);
    box-shadow: 0 0 20px var(--color-grey-toxic), 0 0 30px var(--color-grey-toxic);
    color: var(--color-black);
}

.button-icon {
    width: 25px;
    height: 25px;
    background-color: var(--color-grey-toxic);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    cursor: pointer;
    transition: all 0.3s ease;

    @include mobile-portrait {
        width: 16px;
        height: 16px;
    }
}