.slider-backdrop {
  position: fixed;   // Привязан к окну браузера
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;         // Растянут на весь экран
  background: rgba(0, 0, 0, 1);  // Чёрный с прозрачностью 80%
  z-index: 999;      // Ниже слайдера
}


.slider {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;     // Выше затемнения
    margin-bottom: 20px;
    width: 600px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;


        background: rgba(var(--color-grey-toxic-rgb), 0.2);
        box-shadow: inset 0 0 100px rgba(var(--color-grey-toxic-rgb), 0.8);
        border: 1px solid rgba(var(--color-black-rgb), 0.5);
        overflow: hidden;
    }

    &__container:hover {
        box-shadow: inset 0 0 50px var(--color-grey-toxic);
    }

    &__container-inner{ 
        max-height: 57vh;
        overflow-y: auto;        // скролл по вертикали
        overflow-x: hidden;
    }

    &__container-button {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%); 
        opacity: 0; // Полностью прозрачный
        visibility: hidden; // Скрыт от взаимодействия
        transition: all 0.5s ease;
        /*
            all - тип анимации (плавное ускорение/замедление)
            0.3s - длительность анимации (0.3 секунды)
            ease - какие свойства анимировать (все)
        */
    }

    &__container:hover &__container-button {
        opacity: 1;
        visibility: visible;
    }


    &__description-full{
        margin: 50px 0;
        padding: 20px;
        font-size: 20px;
        text-align: center; 
    }

    &__button {
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .prev__button:before {
        display: block;
        content: '';
        width: 80px;
        height: 80px;
        background-color: var(--color-grey-toxic);
        mask: url('/icons/arrow-left.svg') no-repeat center/contain;
        -webkit-mask: url('/icons/arrow-left.svg') no-repeat center/contain;
    }

    .next__button:before {
        display: block;
        content: '';
        width: 80px;
        height: 80px;
        background-color: var(--color-grey-toxic);
        mask: url('/icons/arrow-left.svg') no-repeat center/contain;
        -webkit-mask: url('/icons/arrow-right.svg') no-repeat center/contain;
    }
}
