
.slider {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    margin: 20px 0;
    width: 800px;
    max-height: 90vh;

    @include mobile-landscape {
        top: 0;
        width: 100%;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 50px 0 50px 0;

        background: rgba(var(--color-white-rgb), 0.2);
        box-shadow: 0 0 10px rgba(var(--color-white-rgb), 0.7), 
                    0 0 20px rgba(var(--color-white-rgb), 0.5),
                    inset 0 0 150px rgba(var(--color-black-rgb), 1);
        border: 1px solid rgba(var(--color-black-rgb), 0.5);
        overflow: hidden;

        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;

        @include mobile-landscape {
           border-radius: 0;
        }
    }

    &__container-wrapper {
        height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;

        @include mobile-landscape {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
        }
    }

    &__container-button {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 33%;
        left: 0;
        right: 0;
        transform: translateY(-50%); 
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
        /*
            all - тип анимации (плавное ускорение/замедление)
            0.3s - длительность анимации (0.3 секунды)
            ease - какие свойства анимировать (все)
        */

        @include mobile-portrait {
            opacity: 1;
            visibility: visible;
        }
    }

    &__container:hover &__container-button {
        opacity: 1;
        visibility: visible;
        
    }


    &__description-full{
        padding: 40px;
        @include text-sm;
        line-height: 40px;
        text-transform: var(--text-uppercase-uppercase);
        letter-spacing: 4px;
        text-align: center; 
        color: var(--color-white);

        @include mobile-landscape {
            @include text-xs;
            letter-spacing: 4px;
            padding: 20px;
        }

        @include mobile-portrait {
            line-height: 20px;
        }
    }

    &__button {
        background: transparent;
        border: none;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile-portrait {
            width: 40px;
            height: 40px;
        }
    }

    &__close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        background-color: rgba(var(--color-black-rgb), 0.5);
        border: none;
        border-radius: 10px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        
    }

     &__close-button::before {
        display: block;
        content: '';
        width: 30px;
        height: 30px;
        background-image: linear-gradient(
            to right, var(--color-white), var(--color-grey-toxic)
         );
        mask: url('/icons/close.svg') no-repeat center/contain;
        -webkit-mask: url('/icons/close.svg') no-repeat center/contain;
    }   


    .prev__button:before {
        display: block;
        content: '';
        width: 50px;
        height: 50px;
        background-color: rgba(var(--color-black-rgb), 0.5);
        background-image: linear-gradient(
            to right, var(--color-white), var(--color-grey-toxic)
         );
        mask: url('/icons/arrow-left.svg') no-repeat center/contain;
        -webkit-mask: url('/icons/arrow-left.svg') no-repeat center/contain;

        @include mobile-portrait {
            display: none;
        }
    }

    .next__button:before {
        display: block;
        content: '';
        width: 50px;
        height: 50px;
        background-color: rgba(var(--color-black-rgb), 0.5);
        background-image: linear-gradient(
            to right, var(--color-white), var(--color-grey-toxic)
         );
        mask: url('/icons/arrow-left.svg') no-repeat center/contain;
        -webkit-mask: url('/icons/arrow-right.svg') no-repeat center/contain;

        @include mobile-portrait {
            display: none;
        }
    }
}
